<ng-container *ngIf="fact$ | async as fact">
    <div class="fact-text-wrapper">
      @switch (fact.factState) {
        @case ('loading') {
          <app-loader></app-loader>
        }
        @case ('error') {
          <app-error errorMessage="Error: {{ fact.factError }}"></app-error>
        }
        @case ('loaded') {
          <p>{{ fact.factData?.text }}</p>
        }
      }
    </div>
  
    <div class="fact-ctas">
      <button (click)="refetchFact()">Fetch New Fact</button>
      <button
        [disabled]="fact.factExistsAsFavorite || fact.factState === 'error'"
        (click)="saveFact(fact.factData)">
        Add Fact to Favorites
      </button>
    </div>
  </ng-container>
  