<div class="fact-text-wrapper">
    <p>
        @if (data$ | async; as factState) {
            @switch (factState.state) {
                @case ("loading") {
                    Loading...
                }
                @case ("error") {
                    Error: {{ factState.error.message }}
                }
                @case ("loaded") {
                    {{ factState.data.text }}
                }
            }
        }
    </p>
</div>

<div class="fact-ctas">
    <button (click)="refetchFact()">Fetch New Fact</button>
    @if (data$ | async; as factState) {
        <button
          [disabled]="factState.state !== 'loaded'"
          (click)="saveFact(factState)">
          Add Fact to Favorites
        </button>
      }
</div>