<div class="fact-text-wrapper">
    @if (factState$ | async; as factState) {
      @switch (factState.state) {
        @case ('loading') {
          <app-loader></app-loader>
        }
        @case ('error') {
          <app-error errorMessage="Error: {{ factState.error.message }}"></app-error>
        }
        @case ('loaded') {
          <p>{{ factState.data.text }}</p>
        }
      }
    }
  </div>
<div class="fact-ctas">
    <button (click)="refetchFact()">Fetch New Fact</button>
    <ng-container *ngIf="fact$ | async as fact">
        <button
            [disabled]="fact.factExistsAsFavorite || fact.factState === 'error'"
            (click)="saveFact(fact.factData)">
        Add Fact to Favorites
    </button>
    </ng-container>
</div>